body {
    background-color: rgb(40, 40, 40);
}

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
}
/* Start here by styling the main div section */
.main {
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    background-color: beige; 
    border: 9px dotted #FF990D;    
    padding: 100px;
    width: fit-content;
}

.square::after {
    content: "??";
}

.square:active::after{
    content: "☠️";
}

#s3:active::after{
    content: "👻";
}